<footer class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">{{appName}}</a>
				</div>
				<ul class="nav navbar-nav">
					<li class="dropdown" ng-repeat="item in items" ><a
						ng-if="item.items==undefined  || item.items==null || item.items.length==0"
						href="#">{{item.cmsKeyid}}</a> <a
						ng-if="item.items!=='undefined' && item.items !==null && item.items.length"
						href="#" class="dropdown-toggle" data-toggle="dropdown"
						role="button">{{item.cmsKeyid}}<span
							class="caret"></span></a>
						<ul
							ng-if="item.items!=='undefined' && item.items !==null && item.items.length"
							class="dropdown-menu">
							<tree menutree="item"/> 
						</ul></li>
				</ul>
				<ul class="nav navbar-nav navbar-right"
					ng-controller="bottom-navbar-controller">

				</ul>
			</div>
		</footer>