<li ng-repeat="_item in menutree.items"
	class="{{(item.items==undefined  || item.items==null || item.items.length==0)?'': 'dropdown' }}"><a
	ng-if="_item.items==undefined  || _item.items==null || _item.items.length<1"
	href="#">{{_item.cmsKeyid}}</a> <a
	ng-if="_item.items!==undefined && _item.items !==null && _item.items.length>0"
	href="
					#" class="dropdown-toggle" data-toggle="dropdown"
	role="button" aria-haspopup="true" aria-expanded="false">{{_item.cmsKeyid}}
		<span class="caret"></span>
</a>
	<ul
		ng-if="_item.items!==undefined && _item.items !==null && _item.items.length"
		class="dropdown-menu">
		<tree menutree="_item"> </tree>
	</ul></li>
</ul>