<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>GreenArrow Budget</title>
<script src="./lib/js/jquery/jquery.min.js"></script>
<script src="./lib/js/bootstrap/bootstrap.js"></script>
<script src="./lib/js/angular/angular.js"></script>
<script src="./lib/js/angular/angular-translate.js"></script>
<link rel="stylesheet" type="text/css"
	href="./lib/assets/css/bootstrap.min.css"></link>
<link rel="stylesheet" type="text/css" href="./lib/assets/css/core.css"></link>

<script src="./lib/js/angular-ui/angular-ui-bootstrap-0.13.4.js"></script>
<!-- Module loading -->
<!-- MAIN -> NEED NEED TO BE THE FIRST ONE MOFULE DEFINITION -->
<script src="app.js"></script>
<!-- BOTTOM NAVBAR -->
<script src="./modules/navBarBottom/controllers.js"></script>


</head>
<body ng-app="main">
	<div id="nonSense" ng-app="greenArrow">
		<div ng-controller="personCtrl">


			First Name: <input type="text" ng-model="firstName"><br>
			Last Name: <input type="text" ng-model="lastName"><br> <br>
			Full Name: {{fullName()}}
		</div>


	</div>
	<div ng-app="bottom-navbar-container" class="navbar-fixed-bottom"
		ng-controller="bottom-navbar-controller">
		<footer class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">

					<a class="navbar-brand" href="#">{{appName}}</a>
				</div>
				<ul class="nav navbar-nav">
					<li ng-repeat="item in items" class="{{(item.items==undefined  || item.items==null || item.items.length==0)?'': 'dropdown' }}"><a
						ng-if="item.items==undefined  || item.items==null || item.items.length==0"
						href="#">{{item.cmsKeyid}}</a> <a
						ng-if="item.items!=='undefined' && item.items !==null && item.items.length"
						href="
						#" class="dropdown-toggle" data-toggle="dropdown"
						role="button">{{item.cmsKeyid}}<span
							class="caret"></span></a>
						<ul
							ng-if="item.items!=='undefined' && item.items !==null && item.items.length"
							class="dropdown-menu">
							<tree menutree="item"/> 
						</ul></li>
				</ul>
				<ul class="nav navbar-nav navbar-right"
					ng-controller="bottom-navbar-controller">

				</ul>
			</div>
		</footer>
	</div>

</body>
</html>